body{
    width: auto;
}
.gradient-box{
    width: 105%;
    padding: 20px 25px;
    border-top: 10px solid #F6F3F3;
    border-bottom: 10px solid #000;
    margin: 10px;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), to(#000));
    background-image: -webkit-linear-gradient(transparent, #000);
    background-image:
        -moz-linear-gradient(transparent, #000),
        -moz-linear-gradient(transparent, #000)
    ;
    background-image:
        -o-linear-gradient(transparent, #000),
        -o-linear-gradient(transparent, #000)
    ;
    background-image: 
        linear-gradient(transparent, #000),
        linear-gradient(transparent, #000)
    ;
    -moz-background-size:5px 100%;
    background-size:10px 100%;
    background-position:0 0, 100% 0;
    background-repeat:no-repeat;
 }

.biling {
    
    margin-left: 3%;
}

.wrapper {
    width: 100%;
}
